<div id="<%= dom_id friend %>">
  <p>
    <strong><%= t 'friend.first_name' %></strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong><%= t'friend.last_name' %></strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong><%= t'friend.phone' %></strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong><%= t'friend.twitter' %></strong>
    <%= friend.twitter %>
  </p>
</div>
