<% if user_signed_in? %>

    <h1>Friends</h1>
    <div id="friends">
      <% @friends.each do |friend| %>
        <%= 'Name' %>: <%= link_to friend.firt_name + ' ' + friend.last_name, friend %>
        <p>
          <%= 'Friend of:' %> <%= friend.user.email %>
        </p>
      <% end %>
    </div>
<% else %>
  <%= render 'home/index' %>
<% end %>